h1 {
    font-weight: 700;
}

%title-block {
    color: #141414;
    font-weight: 500;
    font-size: 34px;
    line-height: 36px;  
}

%title-page {
    font-weight: 500;
    font-size: 44px;
    line-height: 48px;
    color: #fff;
}

@media(max-width: 575px) {
    %title-block {
        font-size: 28px;
        line-height: 34px;
    }
}