<%= require('@parts/header.ejs')({headerClass: 'header_dark' }) %>

  <main class="innerpage" id="root">
    <section class="page404">
        <div class="container">
            <div class="page404__row">
                <div class="page404__content">
                    <h2 class="page404__title">
                        Страница не найдена
                    </h2>
                    <p class="page404__txt">
                        Сожалеем, но страница, которую вы ищите, не может быть найдена.
                    </p>
                    <div class="page404__buttons">
                        <a href="/" class="page404__buttons-yel">
                            На главную страницу
                        </a>
                        <a href="#" class="page404__buttons-cat">
                            Перейти в каталог
                        </a>
                    </div>
                </div>
                <div class="page404__error">
                    <div class="page404__error-title">
                        404
                    </div>
                    <div class="page404__error-txt">
                        Ошибка
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>

  <%= require('@parts/footer.ejs')() %>