<%= require('@parts/header.ejs')({headerClass: 'header_dark' }) %>

  <main class="innerpage" id="root">
    <section class="about-first">
        <div class="container">
            <%= require('@parts/_breadcrumbs.ejs')() %>
            <h2 class="about-first__title">
                О бренде Konigin
            </h2>
            <p class="about-first__txt">
                Торговая марка Königin предлагает вашему вниманию широкий спектр встраиваемой бытовой техники европейского качества от эконом до премиум класса, которая отвечает потребностям самых требовательных клиентов.  
            </p>
            <p class="about-first__txt">
                В ассортименте кухонные вытяжки, газовые панели, духовые электрические шкафы. Вся продукция изготовлена согласно европейским нормам, гарантирующим безопасность использования
            </p>
            <div class="about-first__timeline">
                <div class="about-first__timeline-item timeline-item">
                    <div class="timeline-item__leftshape"></div>
                    <div class="timeline-item__content">
                        <div class="timeline-item__content-year">
                            1999 год
                        </div>
                        <p class="timeline-item__content-txt">
                            начало разработки и производства электронных блоков управления и индикации для крупногабаритной бытовой техники. 
                        </p>
                    </div>
                    <div class="timeline-item__rightshape"></div>
                </div>
                <div class="about-first__timeline-item timeline-item">
                    <div class="timeline-item__leftshape"></div>
                    <div class="timeline-item__content">
                        <div class="timeline-item__content-year">
                            2013 год
                        </div>
                        <p class="timeline-item__content-txt">
                            разработка и начало производства воздухоочистителей для кухни.
                        </p>
                    </div>
                    <div class="timeline-item__rightshape"></div>
                </div>
                <div class="about-first__timeline-item timeline-item">
                    <div class="timeline-item__leftshape"></div>
                    <div class="timeline-item__content">
                        <div class="timeline-item__content-year">
                            2016 год
                        </div>
                        <p class="timeline-item__content-txt">
                            разработка и начало производства встраиваемой бытовой техники для кухни
                        </p>
                    </div>
                    <div class="timeline-item__rightshape"></div>
                </div>
                <div class="about-first__timeline-item timeline-item">
                    <div class="timeline-item__leftshape"></div>
                    <div class="timeline-item__content">
                        <div class="timeline-item__content-year">
                            1999 год
                        </div>
                        <p class="timeline-item__content-txt">
                            начало разработки и производства электронных блоков управления и индикации для крупногабаритной бытовой техники. 
                        </p>
                    </div>
                    <div class="timeline-item__rightshape"></div>
                </div>
                <div class="about-first__timeline-item timeline-item">
                    <div class="timeline-item__leftshape"></div>
                    <div class="timeline-item__content">
                        <div class="timeline-item__content-year">
                            2013 год
                        </div>
                        <p class="timeline-item__content-txt">
                            разработка и начало производства воздухоочистителей для кухни.
                        </p>
                    </div>
                    <div class="timeline-item__rightshape"></div>
                </div>
                <div class="about-first__timeline-item timeline-item">
                    <div class="timeline-item__leftshape"></div>
                    <div class="timeline-item__content">
                        <div class="timeline-item__content-year">
                            2016 год
                        </div>
                        <p class="timeline-item__content-txt">
                            разработка и начало производства встраиваемой бытовой техники для кухни
                        </p>
                    </div>
                    <div class="timeline-item__rightshape"></div>
                </div>
            </div>
            <div class="about-first__slider">
                <div class="about-first__slider-item about-item">
                    <div class="about-item__content">
                        <div class="about-item__title">
                            История развития
                            <span class="about-item__title-year">
                                1999 год
                            </span>
                        </div>
                        <p class="about-item__txt">
                            Начало разработки и производства электронных блоков управления и индикации для крупногабаритной бытовой техники.
                        </p>
                        <a href="" class="about-item__btn">
                            Читать далее
                        </a>
                    </div>
                    <div class="about-item__image">
                        <img src="<%=require('@img/about-item-1.jpg') %>" alt="" class="about-item__image-pic">
                    </div>
                </div>
                <div class="about-first__slider-item about-item">
                    <div class="about-item__content">
                        <div class="about-item__title">
                            История развития
                            <span class="about-item__title-year">
                                1999 год
                            </span>
                        </div>
                        <p class="about-item__txt">
                            Начало разработки и производства электронных блоков управления и индикации для крупногабаритной бытовой техники.
                        </p>
                        <a href="" class="about-item__btn">
                            Читать далее
                        </a>
                    </div>
                    <div class="about-item__image">
                        <img src="<%=require('@img/about-item-1.jpg') %>" alt="" class="about-item__image-pic">
                    </div>
                </div>
                <div class="about-first__slider-item about-item">
                    <div class="about-item__content">
                        <div class="about-item__title">
                            История развития
                            <span class="about-item__title-year">
                                1999 год
                            </span>
                        </div>
                        <p class="about-item__txt">
                            Начало разработки и производства электронных блоков управления и индикации для крупногабаритной бытовой техники.
                        </p>
                        <a href="" class="about-item__btn">
                            Читать далее
                        </a>
                    </div>
                    <div class="about-item__image">
                        <img src="<%=require('@img/about-item-1.jpg') %>" alt="" class="about-item__image-pic">
                    </div>
                </div>
                <div class="about-first__slider-item about-item">
                    <div class="about-item__content">
                        <div class="about-item__title">
                            История развития
                            <span class="about-item__title-year">
                                1999 год
                            </span>
                        </div>
                        <p class="about-item__txt">
                            Начало разработки и производства электронных блоков управления и индикации для крупногабаритной бытовой техники.
                        </p>
                        <a href="" class="about-item__btn">
                            Читать далее
                        </a>
                    </div>
                    <div class="about-item__image">
                        <img src="<%=require('@img/about-item-1.jpg') %>" alt="" class="about-item__image-pic">
                    </div>
                </div>
                <div class="about-first__slider-item about-item">
                    <div class="about-item__content">
                        <div class="about-item__title">
                            История развития
                            <span class="about-item__title-year">
                                1999 год
                            </span>
                        </div>
                        <p class="about-item__txt">
                            Начало разработки и производства электронных блоков управления и индикации для крупногабаритной бытовой техники.
                        </p>
                        <a href="" class="about-item__btn">
                            Читать далее
                        </a>
                    </div>
                    <div class="about-item__image">
                        <img src="<%=require('@img/about-item-1.jpg') %>" alt="" class="about-item__image-pic">
                    </div>
                </div>
                <div class="about-first__slider-item about-item">
                    <div class="about-item__content">
                        <div class="about-item__title">
                            История развития
                            <span class="about-item__title-year">
                                1999 год
                            </span>
                        </div>
                        <p class="about-item__txt">
                            Начало разработки и производства электронных блоков управления и индикации для крупногабаритной бытовой техники.
                        </p>
                        <a href="" class="about-item__btn">
                            Читать далее
                        </a>
                    </div>
                    <div class="about-item__image">
                        <img src="<%=require('@img/about-item-1.jpg') %>" alt="" class="about-item__image-pic">
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <section class="about-complect">
        <div class="container">
            <h2 class="about-complect__title">
                Производство и комплектация вытяжек:
            </h2>
            <p class="about-complect__txt">
                Вытяжки Königin продаются на рынке как самые тихие и это во многом зависит от качества моторов. Каждый год представляются новаторские разработки в управлении моторами вытяжек, системах освещения и фильтрации.
            </p>
            <div class="about-complect__row">
                <div class="about-complect__content complect-content">
                    <h3 class="complect-content__title">
                        Моторы производства Италии <br> от ведущего европейского производителя электромоторов компании SIT
                    </h3>
                    <p class="complect-content__txt">
                        Это конденсаторные двигатели нового поколения, а также бесщеточные двигатели, идеально подходят для использования на кухонных вытяжках среднего и высокого сегмента. Моторы имеют высокий класс энергоэффективности A + (при использовании конденсаторного двигателя) и класс A ++ <br> (при использовании бесщеточного двигателя). 
                    </p>
                    <div class="complect-content__bottom">
                        <div class="complect-content__country">
                            Страна производства: Италия
                        </div>
                        <div class="complect-content__company">
                            Компания: SIT
                        </div>
                    </div>
                </div>
                <div class="about-complect__image">
                    <img src="<%=require('@img/complect-image.png') %>" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="about-motors">
        <div class="container">
            <div class="about-motors__row">
                <div class="about-motors__card">
                    <div class="about-motors__title">
                        Моторы производства Италии (FIME)
                    </div>
                    <p class="about-motors__txt">
                        Конденсаторные и бесщеточные компактные двигатели, гарантируют низкий уровень шума и высокую энергоэффективность, подходят для использования на кухонных вытяжках среднего и высокого сегмента.
                    </p>
                    <div class="about-motors__image">
                        <img src="<%=require('@img/motor-1.png') %>" alt="">
                    </div>
                    <div class="about-motors__bottom">
                        <div class="about-motors__country">
                            Страна производства: Италия
                        </div>
                        <div class="about-motors__company">
                            Компания: FIME
                        </div>
                    </div>
                </div>
                <div class="about-motors__card">
                    <div class="about-motors__title">
                        Моторы производства Италии (FIME)
                    </div>
                    <p class="about-motors__txt">
                        Конденсаторные и бесщеточные компактные двигатели, гарантируют низкий уровень шума и высокую энергоэффективность, подходят для использования на кухонных вытяжках среднего и высокого сегмента.
                    </p>
                    <div class="about-motors__image">
                        <img src="<%=require('@img/motor-2.png') %>" alt="">
                    </div>
                    <div class="about-motors__bottom">
                        <div class="about-motors__country">
                            Страна производства: Италия
                        </div>
                        <div class="about-motors__company">
                            Компания: FIME
                        </div>
                    </div>
                </div>
                <div class="about-motors__card">
                    <div class="about-motors__title">
                        Моторы производства Италии (FIME)
                    </div>
                    <p class="about-motors__txt">
                        Конденсаторные и бесщеточные компактные двигатели, гарантируют низкий уровень шума и высокую энергоэффективность, подходят для использования на кухонных вытяжках среднего и высокого сегмента.
                    </p>
                    <div class="about-motors__image">
                        <img src="<%=require('@img/motor-3.png') %>" alt="">
                    </div>
                    <div class="about-motors__bottom">
                        <div class="about-motors__country">
                            Страна производства: Италия
                        </div>
                        <div class="about-motors__company">
                            Компания: FIME
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-info">
        <div class="container">
            <div class="about-info__row">
                <div class="about-info__item-wrapper">
                    <div class="about-info__item about-info__item_filters">
                        <div class="about-info__title">
                            Фильтры
                        </div>
                        <p class="about-info__txt">
                            Жиропоглощающие, алюминиевые фильтры для вытяжек Königin состоят из высококачественной сетки. Алюминиевый фильтр можно чистить, он устойчив к высоким температурам. Фильтры <br> производятся в Германии компанией Adek. 
                        </p>
                        <div class="about-info__bottom">
                            <div class="about-info__bottom-country">
                                Страна производства: Германия
                            </div>
                            <div class="about-info__bottom-company">
                                Компания: ADEK
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-info__item-wrapper">
                    <div class="about-info__item">
                        <div class="about-info__title">
                            Фурнитура
                        </div>
                        <p class="about-info__txt">
                            <span>Модули управления, фурнитура</span> – производства Польши, Германии.
                        </p>
                        <p class="about-info__txt">
                            <span>Стекло закаленное,</span> производится в Польше. В белых вытяжках применяется стекло opti-white (кристаллическое чистое, не имеющее зеленоватого отсвечивания).
                        </p>
                        <p class="about-info__txt">
                            <span>Нержавеющая сталь,</span> высокого качества, толщиной от 0,5 мм до 1 мм, производится в Италии.
                        </p>
                        <div class="about-info__bottom">
                            <div class="about-info__bottom-country">
                                Страна производства: Германия
                            </div>
                            <div class="about-info__bottom-company">
                                Компания: ADEK
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-motors about-motors_conf">
        <div class="container">
            <div class="about-motors__row">
                <div class="about-motors__card">
                    <div class="about-motors__title">
                        Газовые конфорки производства Италии (SABAF)
                    </div>
                    <p class="about-motors__txt">
                        Горелки SABAF, без сомнения, являются наиболее успешными и наиболее долговечными, отличаются мощностью и распределением пламени.
                    </p>
                    <div class="about-motors__image">
                        <img src="<%=require('@img/conf-1.png') %>" alt="">
                    </div>
                    <div class="about-motors__bottom">
                        <div class="about-motors__country">
                            Страна производства: Италия
                        </div>
                        <div class="about-motors__company">
                            Компания: SABAF
                        </div>
                    </div>
                </div>
                <div class="about-motors__card">
                    <div class="about-motors__title">
                        Турбо горелка с тройным кольцом пламени (SABAF)
                    </div>
                    <p class="about-motors__txt">
                        Горелки SABAF с тройным кольцом были разработаны для улучшения распределения тепла. Горелка отличается необычайной мощностью, которая позволяет очень быстро достигать высоких температур, необходимых для приготовления повседневных блюд за короткое время
                    </p>
                    <div class="about-motors__image">
                        <img src="<%=require('@img/conf-2.png') %>" alt="">
                    </div>
                    <div class="about-motors__bottom">
                        <div class="about-motors__country">
                            Страна производства: Италия
                        </div>
                        <div class="about-motors__company">
                            Компания: FIME
                        </div>
                    </div>
                </div>
                <div class="about-motors__card">
                    <div class="about-motors__title">
                        Газовые конфорки производства Турции (REMA)
                    </div>
                    <p class="about-motors__txt">
                        =Газовые конфорки производства Турции (REMA) изготовлены на немецком оборудовании с роботизированными центрами литья  под давлением последнего поколения.
                    </p>
                    <div class="about-motors__image">
                        <img src="<%=require('@img/conf-3.png') %>" alt="">
                    </div>
                    <div class="about-motors__bottom">
                        <div class="about-motors__country">
                            Страна производства: Италия
                        </div>
                        <div class="about-motors__company">
                            Компания: FIME
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-info about-info_materials">
        <div class="container">
            <div class="about-info__row">
                <div class="about-info__item-wrapper">
                    <div class="about-info__item">
                        <div class="about-info__title">
                            Материал поверхностей: <img src="<%=require('@img/germany.jpg') %>" alt="">
                        </div>
                        <p class="about-info__txt">
                            Стекло – закаленное жаропрочное, производства Германии (SCHOTT), обладает  высокой степенью защиты, отличной стойкостью к механическим и термическим ударам. Это стекло используется на газовых варочных панелях среднего и высокого сегмента. 
                        </p>
                        <div class="about-info__bottom">
                            <div class="about-info__bottom-country">
                                Страна производства: Германия
                            </div>
                            <div class="about-info__bottom-company">
                                Компания: ADEK
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-info__item-wrapper">
                    <div class="about-info__item">
                        <div class="about-info__title">
                            Материал поверхностей: <img src="<%=require('@img/turkey.jpg') %>" alt="">
                        </div>
                        <p class="about-info__txt">
                            <span>Стекло</span> – закаленное жаропрочное, производства Турции.  
                        </p>
                        <p class="about-info__txt">
                            <span>Нержавеющая сталь</span> – производства Италии, производства Турции
                        </p>
                        <p class="about-info__txt">
                            <span>Модули управления, вентиляторы, фурнитура</span> для духовых шкафов - производства Словении, производства Турции.
                        </p>
                        <div class="about-info__bottom">
                            <div class="about-info__bottom-country">
                                Страна производства: Германия
                            </div>
                            <div class="about-info__bottom-company">
                                Компания: ADEK
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-txt">
        <div class="container">
            <h2 class="about-txt__title">
                Технология производства
            </h2>
            <p class="about-txt__text">
                Для массового производства используется самое современное и технологичное оборудование мирового класса производства Японии и Европы (современные лазерные установки, машины для резки, гибки, обработки листового металла, штамповочное оборудование, окраски, сборочные линии, лаборатории контроля качества). Каждый год представляются новаторские разработки в управлении моторами вытяжек, системах освещения и фильтрации. 
            </p>
            <p class="about-txt__text">
                Вся продукция изготовлена согласно европейским нормам, гарантирующим безопасность использования. Потребители, выбирая продукт, могут рассчитывать на высокое качество, современный дизайн, высокую производительность, отличные функциональные параметры.
            </p>
        </div>
        <div class="about-txt__gallery">
            <div class="about-txt__gallery-wrapper">
                <a href="<%=require('@img/about-gal-1.jpg') %>" class="about-txt__gallery-item image-popup">
                    <img src="<%=require('@img/about-gal-1.jpg') %>" alt="" class="about-txt__gallery-image">
                </a>
            </div>
            <div class="about-txt__gallery-wrapper">
                <a href="<%=require('@img/about-gal-2.jpg') %>" class="about-txt__gallery-item image-popup">
                    <img src="<%=require('@img/about-gal-2.jpg') %>" alt="" class="about-txt__gallery-image">
                </a>
            </div>
            <div class="about-txt__gallery-wrapper">
                <a href="<%=require('@img/about-gal-3.jpg') %>" class="about-txt__gallery-item image-popup">
                    <img src="<%=require('@img/about-gal-3.jpg') %>" alt="" class="about-txt__gallery-image">
                </a>
            </div>
            <div class="about-txt__gallery-wrapper">
                <a href="<%=require('@img/about-gal-4.jpg') %>" class="about-txt__gallery-item image-popup">
                    <img src="<%=require('@img/about-gal-4.jpg') %>" alt="" class="about-txt__gallery-image">
                </a>
            </div>
            <div class="about-txt__gallery-wrapper">
                <a href="<%=require('@img/about-gal-5.jpg') %>" class="about-txt__gallery-item image-popup">
                    <img src="<%=require('@img/about-gal-5.jpg') %>" alt="" class="about-txt__gallery-image">
                </a>
            </div>
            <div class="about-txt__gallery-wrapper">
                <a href="<%=require('@img/about-gal-6.jpg') %>" class="about-txt__gallery-item image-popup">
                    <img src="<%=require('@img/about-gal-6.jpg') %>" alt="" class="about-txt__gallery-image">
                </a>
            </div>
        </div>
    </section>
  </main>

  <%= require('@parts/footer.ejs')() %>