<%= require('@parts/header.ejs')({headerClass: 'header_white' }) %>

  <main class="innerpage" id="root">
    <section class="company">
        <div class="container">
            <%= require('@parts/_breadcrumbs.ejs')() %>
            <h2 class="company__title">
                Магазины онлайн/оффлайн
            </h2>
            <div class="company__row">
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-1.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-2.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-3.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-4.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-5.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-6.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-7.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-8.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-9.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="company company_bg">
        <div class="container">
            <h2 class="company__title company__title_sm">
                Москва
            </h2>
            <div class="company__row">
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-1.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-2.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-3.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-4.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-5.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-6.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
            </div>
            <h2 class="company__title company__title_sm">
                Санкт-Петербург
            </h2>
            <div class="company__row">
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-1.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-2.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
            </div>
            <h2 class="company__title company__title_sm">
                Нижний Новгород
            </h2>
            <div class="company__row">
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-1.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
            </div>
            <h2 class="company__title company__title_sm">
                Другие города
            </h2>
            <div class="company__row">
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-1.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-2.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
                <div class="company__item-wrapper">
                    <a href="" class="company__item company-item">
                        <div class="company-item__image">
                            <img src="<%=require('@img/shop-3.png') %>" alt="" class="company-item__image-pic">
                        </div>
                        <div class="company-item__txt">
                            Доставка курьером, в пункты выдачи и постаматы
                        </div>
                        <div class="company-item__link">
                            Перейти на сайт <i><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.42272 1.24399L6.5894 5.41063C6.91523 5.73649 6.91523 6.26313 6.5894 6.58896L2.42272 10.7556C2.0969 11.0815 1.57022 11.0815 1.2444 10.7556C0.918584 10.4298 0.918584 9.90313 1.2444 9.57731L4.8219 5.99981L1.24437 2.42231C0.918545 2.09649 0.918545 1.56981 1.24437 1.24399C1.40687 1.08149 1.62022 0.999814 1.83354 0.999814C2.0469 0.999814 2.26022 1.08149 2.42272 1.24399Z" fill="#141414" fill-opacity="0.3" stroke="white" stroke-width="0.8"/>
                                </svg>
                                </i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
  </main>

  <%= require('@parts/footer.ejs')() %>